.grid_justify {
    margin: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}

.grid_justify div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.grid_justify div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2;
}

.grid_justify div:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

/* элемент для отобржаения */
.grid_justify div {
    opacity: 0.7;
    background-color: darkblue;
    border: 1px solid darkred;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 18px;
}

/* чередование оформления элемента для отобржаения */
.grid_justify div:nth-child(even) {
    background-color: lightseagreen;
}

.grid_justify div:nth-child(odd) {
    background-color: lightcyan;
}

h2 {
    color: mediumslateblue
}

p {
    color: darkslateblue;
}